<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>nessie control panel</title>
            <link rel="stylesheet" href="/static/css/index_style.css">
        </head>
        <script src="/static/js/navigation.js"></script>
        <body>
            <header>
                <h1 >Welcome young Pilot</h1>
                <div id="shutdown_btn">OFF</div>
                <div id="horloge"></div>
            </header>

            <div id = "colonne-gauche">
                <div id="onglet-map">
                    <h2>MAP</h2>
                </div>
                <div id="onglet-camera">
                    <h2>CAMERA</h2>
                </div>
                <div id = "onglet-manual">
                    <h2>MANUAL</h2>
                </div>
            </div>
            <div id = "map-preview" >
                <img src='/carte'>
            </div>
            <div id="camera-preview">
                <img src='/camera'>
            </div>
            <div id="control-touch">
                <img src="/camera">
                <div id="touch_zone">
                    <div id="joytick_patte_zone">
                        <div id ="joystick_patte">

                        </div>
                    </div>
                    <div id="slider_tete_zone">
                        <div id="slider_tete"> 

                        </div>

                    </div>
                </div>
            </div>
                
        </body>
    </html>